<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let data of isiData | async">
    <br>
    Judul : {{data.judulnote}}<br>
    Waktu : {{data.waktunote}}<br>
    Tanggal : {{data.tanggalnote}}<br>
    Nama Foto : {{data.FotoNote}}<span></span>
    <br>
  </ion-item>
</ion-content>
